:root {
    --menu-color: #e8d285;
    --main-color: #f8edca;
    --ek-red: #fe4a5f;
    --ek-blue: #0038a8;
    --gray: #d3d3d3;

    --white: #fff;
    --black: #000;

    --standard-padding: 0.5rem;
}