*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;

    /* Color transisition */
    --transition_time: 0.5s;
    transition: color var(--transition_time);
    transition: background-color var(--transition_time);
}
html{
    overflow-x: hidden;
    width: 100vw;
}
/* Reset */

:root{
    /* Color */
    --color_baground: #ffffff; 
    --color_ontop: #fbfaf8;
    --color_elements_pink: #ef5581;
    --color_elements_blue: #5ce1e6;
    
    /* Text */
    --text_color: black;
    --text_color_hover: #545454;

    --text_size_standard: 1.2em;
    --font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    /* Boxes */
    --borders: 15px;
}

body{
    background-color: var(--color_ontop);
    height: fit-content;
    font-family: var(--font);
}

/* ----- Settings ----- */
#settings{
    width: fit-content;
    height: fit-content;
    display: flex;
    position: absolute;
    top: -350px;
    right: -200px;
    transform: rotate(45deg);
    animation: forwards appear 1s ease-in-out;
}
@keyframes appear{
    0%{
        top: -350px;
        right: -200px;
        --setting_colors: var(--color_ontop);
    }
    70%{
        --setting_colors: var(--color_elements_blue);
    }
    100%{
        top: -250px;
        right: -70px;
        --setting_colors: var(--color_elements_blue);
    }
}
.top_small{
    width: 15px;
    height: 450px;
    background: var(--setting_colors);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-right: 20px;
}
.big{
    width: 120px;
    height: 400px;
    background: var(--setting_colors);
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    position: relative;
}
.big img{
    width: 75px;
    position: absolute;
    bottom: 60px;
    right: 50%;
    transform: translate(50%,50%);
    transition: transform 0.5s;
    animation: forwards appear_tandjuld 1s ease-in-out;
}
@keyframes appear_tandjuld{
    0%{
        filter: opacity(0);
    }
    100%{
        filter: opacity(1);
    }
}
.big img:hover{
    transition: transform 0.5s;
    transform: translate(50%,50%) rotate(-90deg);
}
.bottom_small{
    width: 6px;
    height: 320px;
    background: var(--setting_colors);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-left: 13px;
}
/* ----- Settings ----- */

/* ----- Nav ----- */
nav{
    width: fit-content;
    height: 200px;
    display: flex;
    gap: 100px;
    position: absolute;
    top: -250px;
    left: 50px;
}
nav div{
    background: var(--color_elements_pink);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 200px;
    height: 500px;
    transform:  rotate(-45deg);
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 20px;

}
#logo{
    margin-right: 70px;
}
#logo div{
    width: 160px;
    height: 160px;
    background: var(--color_baground);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo div img{
    width: 100%;
    transform: rotate(90deg);
}
/* ----- Nav ----- */