*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;

    /* Color transisition */
    --transition_time: 0.5s;
    transition: color var(--transition_time);
    transition: background-color var(--transition_time);
}
html{
    overflow-x: hidden;
    width: 100vw;
    scroll-behavior: smooth;
}
/* Reset */

:root{
    /* Color */
    --color_baground: #ffffff; 
    --color_ontop: #fbfaf8;

    /* Colors will not chance */
    /* OLD COLOR :#ef5581*/
    --color_elements_pink: #2197bd;
    --color_elements_blue: #5ce1e6;
    
    /* Text */
    --standard_text_color: black;
    --text_color_hover: #a3a3a3;
    /* Text will not chance */
    --Bright_text_color: white;
    --Dark_text_color: black;

    --text_size_standard: 1.2em;
    --font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

body{
    overflow-x: hidden;
    background-color: var(--color_ontop);
    height: fit-content;
    font-family: var(--font);
    width: 100vw;
}

/* ----- header ----- */
header{
    position: fixed;
    top: 0;
    width: 100vw;
}
/* ----- Settings ----- */
#settings{
    width: fit-content;
    height: fit-content;
    display: flex;
    position: absolute;
    top: -350px;
    right: -200px;
    transform: rotate(45deg);
    animation: forwards appear_settings 1s ease-in-out;
}
@keyframes appear_settings{
    0%{
        top: -350px;
        right: -200px;
        --setting_colors: var(--color_ontop);
    }
    70%{
        --setting_colors: var(--color_elements_blue);
    }
    100%{
        top: -250px;
        right: -70px;
        --setting_colors: var(--color_elements_blue);
    }
}
.switchs{
    transform: rotate(0deg) translate(0px, 10px);
    position: absolute;
    display: flex;
    flex-direction: column;
    background: var(--color_elements_blue);
    padding: 5px;
    gap: 10px;
    border-radius: 5px;
    transition: 0.7s;
    width: fit-content;

}
.switchs div{
    display: flex;
    width: fit-content;
    gap: 10px;
    cursor: pointer;
    justify-content: flex-start;
    color: var(--Dark_text_color);
}
.switchs div p:nth-child(1){
    width: 50px;
    font-weight: 800;
}
.switchs div p:nth-child(2){
    width: 90px;
    font-weight: 800;
}
.switchs div:hover{
    font-weight: 800;
    color: var(--text_color_hover);
}
.top_small{
    width: 15px;
    height: 450px;
    background: var(--setting_colors);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-right: 20px;
}
.big{
    width: 120px;
    height: 400px;
    background: var(--setting_colors);
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    position: relative;
}
.big img{
    width: 75px;
    position: absolute;
    bottom: 60px;
    right: 50%;
    transform: translate(50%,50%);
    transition: transform 1s;
    animation: forwards appear_img 1s ease-in-out;
}
.bottom_small{
    width: 6px;
    height: 320px;
    background: var(--setting_colors);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-left: 13px;
}
/* ----- Settings ----- */
@keyframes appear_img{
    0%{
        filter: opacity(0);
    }
    100%{
        filter: opacity(1);
    }
}
/* ----- Nav ----- */
nav{
    width: fit-content;
    height: fit-content;
    display: flex;
    gap: 100px;
    position: absolute;
    top: -250px;
    left: -120px;
}
nav a{
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    width: 120px;
    height: 450px;
    transform:  rotate(-45deg);
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 10px;

    top: -120px;
    left: -30px;
    background: var(--color_ontop);
    transition: 0.2s;

}
nav a:hover{
    width: 135px;
    height: 465px;
    padding: 15px;

    transition: 0.2s;
}
.nav_text{
    color: var(--Bright_text_color);
    font-weight: 800;
    font-size: 1.4em;
    transform: rotate(90deg);
    position: absolute;
    bottom: 50px;
    text-decoration: none;
}
#logo{
    margin-right: 70px;
    animation: forwards appear_navbar 1.5s;
    z-index: 2;
}
#logo div{
    width: 100px; 
    height: 100px;
    background: var(--color_ontop);
    border-radius: 50%;
    display: flex;
    align-items: center;
    padding: 15px;
    transform: rotate(45deg);
}
#logo div:nth-child(2){
    display: none;
}
#logo div img{
    margin-top: 10px;
    width: 100%;
    animation: forwards appear_img 1s ease-in-out;
}
nav a:nth-child(2){
    animation: forwards appear_navbar 1.5s;
    animation-delay: 0.2s;
}
nav a:nth-child(3){
    animation: forwards appear_navbar 1.5s;
    animation-delay: 0.4s;
}
nav a:nth-child(4){
    animation: forwards appear_navbar 1.5s;
    animation-delay: 0.6s;
}
nav a:nth-child(5){
    animation: forwards appear_navbar 1.5s;
    animation-delay: 0.8s;
}
@keyframes appear_navbar{
    0%{
        top: -120px;
        left: -30px;
        background: var(--color_ontop);
    }
    70%{
        background: var(--color_elements_pink);
    }
    100%{
        left: 50px;
        top: 0px;
        background: var(--color_elements_pink);
    }
}
@keyframes disappear_navbar{
    100%{
        top: -120px;
        left: -30px;
        background: var(--color_ontop);
    }
    30%{
        background: var(--color_elements_pink);
    }
    0%{
        left: 50px;
        top: 0px;
        background: var(--color_elements_pink);
    }
}
/* ----- Nav ----- */
/* ----- header ----- */

@media screen and (max-width: 1370px){
    nav{
        flex-direction: column;
        gap: 0px;
    }
    nav a{
        margin-top: -250px;
    }
    nav a:hover{
        width: 120px;
        height: 450px;
        padding: 10px;

    }
    #logo{
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        gap: 5px;
    }
    #logo div{
        width: 80px; 
        height: 80px;
    }
    #logo div:nth-child(2){
        display: flex;
        padding: 10px;
        background: none;

    }
    #logo div svg{
        color: var(--Bright_text_color);
        padding-left: 7px;
    }
    .toogle_navbar{
        display: none;
    }
    #navbar_icon{
        transition: 0.5s;
    }
    nav a:hover{
        width: 120px;
        height: 450px;
    }
}

@media screen and (max-width: 600px){
    .top_small{
        width: 5px;
        height: 340px;
        margin-right: 4px;
    }
    .big{
        width: 70px;
        height: 370px;
        position: relative;
    }
    .big img{
        width: 50px;
        position: absolute;
        bottom: 40px;
        right: 50%;
        transform: translate(50%,50%);
    }
    .bottom_small{
        display: none;
    }

    nav a{
        margin-top: -300px;
        width: 60px;
        height: 400px;
    }
    nav a:hover{
        width: 60px;
        height: 400px;
    }
    #logo{
        padding: 0 0 5px 0;
    }
    #logo div{
        width: 50px;
        height: 50px;
        padding: 5px;
    }
    .nav_text{
        font-size: 1em;
        width: 80px;
    }
    #logo div:nth-child(2){
        display: flex;
        padding: 5px;
    }
    #logo div svg{
        padding-left: 5px;
    }
}


/* Cubes */

#cubes{
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 15px;

    display: flex;
    justify-content: space-evenly;
    gap: 15px;
    flex-wrap: wrap;
}
#cubes div{
    width: 50px;
    height: 50px;
    background: var(--color_elements_pink);
    transition: 0.2s;

}
.small{
    width: 40px !important;
    height: 40px !important;
    margin: 5px; 
}
.smaller{
    width: 30px !important;
    height: 30px !important;
    margin: 10px; 
}

/* Cubes */


