*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
    width: 100vw;
    height: fit-content;
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
    font-family: 'Times New Roman', Times, serif;
}
/* Reset */

/* Selected variables */
    :root{
        --white_color: #ffffff;
        --light_color: #DDDDDD;
        --dark_color: #707070;
        --black_color: #000000;
        --transition_speed: 0.2s;
    }
/* Selected variables */

/* Search and menu*/
    /* icons */
        #search_icon{
            transition: var(--transition_speed);
            cursor: pointer;
            z-index: 5;
        }
        #bruger_icon{
            transition: var(--transition_speed);
            cursor: pointer;
            z-index: 4;
        }
        #stroke_1, #stroke_2 {
            transition: var(--transition_speed);
        }
        .burger_icon #stroke_1 {
            transform: rotate(-45deg) translate(-5px, 0px);
        }
        .burger_icon #stroke_2 {
            transform: rotate(45deg) translate(5px, -5px);
        }
        .cls-1 {
            fill: none;
            stroke: #fff;
            stroke-width: 2px;
        }
    /* icons */

    .search{
        position: fixed;
        z-index: 5;
        width: 100vw;
        height: 100vh;
        background: rgb(0, 0, 0);
        transition: var(--transition_speed);
        padding: 80px;

        left: 100vw;
        top: 80vh;
        opacity: 0;
    }
    .search_input_div{
        font-size: 3em;
        margin: 200px 0 100px 0;
        width: 100%;
        gap: 20px;
        border-bottom: solid var(--white_color) 2px;
        padding: 10px;
    }
    .search_input_div input{
        padding: 10px;
        width: 100%;
        background: var(--black_color);
        color: var(--white_color);
    }
    .search_input_div input::placeholder{
        color: var(--white_color);
    }
    .search_input_div img{
        height: 40px;
    }
    
    /* Search result */
        #search_results div{
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 100%;
            padding: 50px 0;
            border-bottom: solid var(--dark_color) 2px;
        }
        .search_title{
            font-size: 4em;
            color: var(--white_color);
            font-weight: 700;
        }
        .search_date{
            font-size: 2.6em;
            color: var(--light_color);
        }
        .search_preview{
            font-size: 2.6em;
            color: var(--light_color);

            display: -webkit-box;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            -webkit-box-orient: vertical;
            box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
        }
    /* Search result */
    /* Menu */
        .burger_menu{
            position: fixed;
            z-index: 3;
            width: 100vw;
            height: 100vh;
            background: rgb(0, 0, 0);
            transition: var(--transition_speed);
            padding: 80px;

            left: 100vw;
            top: 10vw;
            opacity: 0;
        }
        .burger_menu ul{
            margin-top: 100px;
            font-size: 3em;
            width: 100%;
            gap: 20px;
        }
        .burger_menu ul li{
            list-style: none;
        }
        .burger_menu ul li a{
            text-decoration: none;
            color: var(--white_color);
        }
        .burger_menu.shown{
            opacity: 1;
            left: 0;
        }
        .burger_socials{
            position: fixed;
            bottom: 0vh;
            left: 50vw;
            transform: translate(-50%, 0);
            transition: var(--transition_speed);
        }
        .burger_socials.shown{
            bottom: 10vh;
        }
        .burger_socials img{
            height: 40px;
            width: 40px;
            margin: 20px;
        }
    /* Menu */
/* Search and menu */

/* Navbar */
    header{
        z-index: 2;
        background: var(--black_color);
    }
    header img{
        z-index: 3;
    }
    .nav_icons img{
        height: 40px;
        transition: var(--transition_speed);
    }
/* Navbar */

/* first section */
    .carousel-control-next, .carousel-control-prev{
        opacity: 1;
    }
    .carousel-prev-icon, .carousel-next-icon{
        transform: scale(2);
        opacity: 1;
    }
    .carousel-item{
        height: 80vw;
    }
    .carousel-item img{
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    .kvote{
        height: fit-content;
        background: var(--black_color);
        color: var(--white_color);
        margin-top: -30%;
        z-index: 2;
    }
    h1{
        font-size: 5em;
        line-height: 1.2em;
        text-align: center;
    }
/* first section */

/* Card page */
    /* Cards */
        .cards{
            display: flex;
            flex-direction: column;
            gap: 100px;
            overflow: hidden;
            margin-bottom: 30px;
            /* To cut last card */
            /* A card hight is 1350px + gap * card amount */
            max-height: calc((820 + 100) * 4px);
        }
        .card{
            border: none;
        }
        .card img{
            height: 600px;
            object-fit: cover;
            margin-bottom: 30px;
        }
        .card h2{
            font-size: 4em;
            font-weight: 700;
        }
        .card p.date{
            font-size: 2.5em;
            color: var(--dark_color);
        }
        .card p.card_content{
            font-size: 2.7em;
            color: var(--black_color);
            overflow: hidden;
            /* How many max lines you want showing */

            display: -webkit-box;
            -webkit-line-clamp: 7;
            line-clamp: 2;
            -webkit-box-orient: vertical;
            box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
        }
        .card_button{
            width: 300px;
            background: var(--white_color);
            border: solid var(--black_color) 2px;
            color: var(--black_color);
            font-size: 2em;
            transition: var(--transition_speed);
        }
        .card_button:hover{
            background: var(--black_color);
            color: var(--white_color);
        }
    /* Cards */
    /* More cards button */
        .cards_control{
            padding: 48px 0;
            color: var(--black_color);
            border-top: solid var(--light_color) 2px;
        }
        .cards_control button{
            width: fit-content;
            background: var(--white_color);
            border: solid var(--black_color) 2px;
            color: var(--black_color);
            font-size: 2em;
            transition: var(--transition_speed);
            padding: 24px;
        }
        .cards_control button:hover{
            background: var(--black_color);
            color: var(--white_color);
        }
        .cards_control p{
            font-size: 2em;
        }
    /* More cards button */
    /* Card page */
        .post_modal{
            background: var(--white_color);
            position: fixed;
            top: 100vh;
            left: 0;
            width: 100vw;   
            height: 100vh;
            z-index: 6;
            transition: var(--transition_speed);
            overflow: scroll;
        }
        .post_modal.active{
            top: 0;
        }

        .post_modal img{
            width: 100%;
            height: 600px;
            object-fit: cover;
        }
        .post_modal h1{
            font-size: 4em;
            text-align: start;
            padding: 3rem 3rem 0 3rem;
        }
        .post_modal p.date{
            padding: 1rem 3rem 0 3rem;
            font-size: 2.5em;
            color: var(--dark_color);
        }
        .post_modal p.content{
            padding: 3rem 3rem 0 3rem;
            font-size: 2.7em;
            color: var(--black_color);
        }
        .close{
            padding: 25px;
            position: absolute;
            top: 0px;
            right: 0px;
            cursor: pointer;
            width: 100px !important;
            height: 100px !important;
            z-index: 5;
            background: var(--black_color);
        }
    /* Card page */
/* Card page */

/* Genreal info */
    .genneral_info{
        padding: 48px 0;
        margin-bottom: 12px;
        color: var(--black_color);
        border-top: solid var(--light_color) 2px;
    }
    .genneral_info a{
        width: fit-content;
        background: var(--white_color);
        border: solid var(--black_color) 2px;
        color: var(--black_color);
        font-size: 2em;
        transition: var(--transition_speed);
        padding: 24px;
        text-decoration: none;
    }
    .genneral_info a:hover{
        background: var(--black_color);
        color: var(--white_color);
    }
    .genneral_info h2{
        font-size: 4em;
    }
    .genneral_info p, .genneral_info ul{
        padding: 0;
        font-size: 2em;
    }
    .genneral_info ul li{
        list-style: none;
    }
    .sponsors{
        gap: 48px;
    }
    .sponsors img{
        /*     Picture size - gap/picturs-amount*gap-rows */
        width: calc(33.33% - (48px/3*2));
    }

/* Genreal info */
/* footer */
    footer div{
        background: var(--black_color);
        color: var(--white_color);
        text-align: center;
    }
    footer div img{
        width: 100%;
    }
    .socials{
        padding: 0 48px 56px 48px;
        border-bottom: solid var(--dark_color) 2px;
    }
    .socials img{
        height: 40px;
        width: 40px;
        margin: 20px;
    }
    footer div h2{
        font-size: 4em;
    }
    footer div p{
        font-size: 2em;
        line-height: 2em;
        margin: 0;
    }
    .footer_weak{
        color: var(--dark_color);
    }
    .instagram_feed{
        gap: 48px;
        margin-bottom: 48px;
    }
    .instagram_feed img{
        /*     Picture size - gap/picturs-amount*gap-rows */
        width: calc(33.33% - (48px/3*2));
    }
/* footer */

@media screen and (min-width: 768px) {
    body{
        background: yellow;
    }

    /* Navbar */
        header{
            height: 10vh;
            padding-bottom: 10vh;
        }
    /* Navbar */

    /* first section */
        .carousel-prev-icon, .carousel-next-icon{
            filter: invert(1);
        }
        /* .carousel-control-next, .carousel-control-prev{
            
        } */
        .carousel-item{
            height: 80vw;
        }
        .carousel-item img{
            object-fit: cover;
            height: 100%;
            width: 100%;
        }

        .kvote{
            height: fit-content;
            margin-top: -15%;
            margin-left: -20%;
            width: 80%;
        }
        h1{
            font-size: 2em;
            text-align: start;
        }
    /* first section */
}