:root {
    --color-menu-footer: #321224;
    --color-submenu: #9a001d;
    --color-active-link-color: #f9f9d2;
    --color-rose: #5f0b3f;

    --white: #fff;
    --black: #000;

    --standard-padding: 1rem;
    --halv-padding: 0.5rem;

    --max-width: 1440px;

    --title: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --text: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    --title-size-h1: clamp(24px, 1.4em, 45px);
    --title-size-h2: clamp(20px, 1.2em, 48px);
    --text-size: clamp(16px, 1em, 20px);
}