/* Reset */
*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --blue: #2bd9d9;
    --rose: #f25781;
    --orange: #f2785c;
    --beach: #f2ecd8;
    --white: #f2f2f2;
}

html{
    scroll-behavior: smooth;
    overscroll-behavior-y: contain;
}

body{
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    background-color: var(--white);
}

/* Header -------------------------------------------------------------------------- */
.noshow{
    margin-top: -100px;
    transition: 0.5s;
}
.noshow:hover{
    margin-top: 0px;
    transition: 0.5s;
}
.show{
    margin-top: 0px;
    transition: 0.2s;
}

header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    background-color: var(--blue);
    width: 100vw;
    z-index: 1;
}
.left_header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.left_header a img{
    width: 50px;
    height: 50px;
    transition: 1s;
}
.left_header a img:hover{
    transform: rotate(1turn);
    transition: 5s;
}
.left_header a{
    padding-right: 2%;
}
.left_header h1{
    font-size: 26px;
    font-weight: 400;
    letter-spacing: -1px;
    display: flex;
    width: fit-content;
}
.left_header h1 a{
    color: black;
    border-bottom: solid 2px black;
    text-decoration: none;
}
.left_header h1 a:hover{
    color: #f2785c;
    border-bottom: solid 2px #f2785c;
}
/* Når mindre end normal computer */
@media screen and (max-width: 1000px){
    .left_header h1{
        font-size: 20px;
        letter-spacing: -1px;
    }
}
.right_header{
    display: flex;
    align-content: center;
}
.buger_menu_icon{
    display: none;
    font-size: 30px;
    margin-left: 10px;
}
@media screen and (max-width: 1000px){
    .no_dash{
        display: none !important;
    }
    
    .buger_menu_icon{
        display: block;
        margin: 0 20px;
    }
    .right_header{
        display: none;

        position: absolute;
        top: 50px;
        left: 50%;
        transform: translate(-50%);
        padding: 20px 100%;
        background-color: var(--blue);
        z-index: -1;
    }
    .right_header h1{
        font-size: 30px;
    }
    .right_header h1 a{
        border-bottom: none;
        margin-bottom: 2px;
    }
    .responsiv{
        display: block;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
}
/* Header -------------------------------------------------------------------------- */

/* Lille life hack */
.empty_space{
    height: 6.5vw;
}
@media screen and (max-width: 1000px){
    .empty_space{
        height: 15vw;
    }
}
@media screen and (max-width: 530px){
    .empty_space{
        height: 30vw;
    }
}
/* Lille life hack */


/* Genneral inhold af content */
main div{
    padding: 2% 1%;
    height: fit-content;
    display: flex;
    align-items: center;
}

/* Mere presis */
.et{
    background-color: var(--white);
}
.to{
    background-color: var(--beach);
}
.tre{
    background-color: var(--orange);
}
.fire{
    background-color: var(--rose);
}
/* Mere presis */

.content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: fit-content;
    padding: 2%;
}

.text{
    width: 33%;
    font-size: 1.5vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.text a{
    text-decoration: none;
    color: black;
    margin-top: 40px;
    background-color: var(--blue);
    border-radius: 50px;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.199);
    font-weight: 500;
    text-align: center;
    padding: 15px 30px;
    transition: 1s;
}
.text a:hover{
    transition: 1s;
    margin-top: 30px;
    margin-bottom: 10px;
    color: var(--orange);
}
.horizontal_image{
    width: 50%;
}
.horizontal_image img{
    width: 100%;
    border-radius: 10px;
}
.horizontal_image video{
    width: 100%;
    border-radius: 10px;
}
.vertical_image{
    width: 50%;
    display: flex;
    justify-content: center;
}
.vertical_image img{
    width: 50%;
    border-radius: 10px;
}
@media screen and (max-width: 1000px){
    .text{
        width: 400px;
        font-size: 2.3vw;
    }
    .horizontal_image{
        width: 400px;
    }
    .vertical_image img{
        width: 400px;
    }
}

@media screen and (max-width: 530px){
    main div{
        flex-wrap: wrap;
        justify-content: center;
    }
    .text{
        width: 100%;
        font-size: 4vw;
    }
    .horizontal_image{
        width: 100%;
    }
    .vertical_image img{
        width: 100%;
    }
    .text a{
        padding: 7px 15px;
    }
}

/* power point */
.slider{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    position: relative;
}
.arrow1{
    position: absolute;
    top: auto;
    width: fit-content;

    font-size: 1.5vw;
    left: 15px;
    padding: 2% 3%;
    border-radius: 50px;
    background-color: #2bd9d9b4;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.199);
    color: black;
    transition: 0.5s;
    cursor: pointer;
}
.arrow1:hover{
    color: #f2785c;
    transition: 0.5s;
}
.arrow2{
    position: absolute;
    top: auto;
    width: fit-content;

    font-size: 1.5vw;
    right: 15px;
    padding: 2% 3%;
    border-radius: 50px;
    background-color: #2bd9d9b4;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.199);
    color: black;
    transition: 0.5s;
    cursor: pointer;
}
.arrow2:hover{
    color: #f2785c;
    transition: 0.5s;
}
.indicator{
    position: absolute;
    bottom: -20px;
    left: auto;
    font-size: 1.5vw;
    font-weight: 500;
}
@media screen and (max-width: 1000px){
    .arrow1{
        font-size: 2.3vw;
    }
    .arrow2{
        font-size: 2.3vw;
    }
    .indicator{
        font-size: 2.3vw;
    }
}

@media screen and (max-width: 530px){
    .arrow1{
        font-size: 4vw;
    }
    .arrow2{
        font-size: 4vw;
    }
    .indicator{
        font-size: 4vw;
    }
}
/* power point */
/* Genneral inhold af content */


/* Footer -------------------------------------------------------------------------- */
footer{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 50px 20px 50px 20px;
    flex-wrap: wrap;
    background-color: var(--beach);
    height: fit-content;
}

footer div{
    width: 40vw;
    font-size: 20px;
    margin-top: 30px;
}

@media screen and (max-width: 1000px){
    footer div{
        font-size: 2.3vw;
    }
}

@media screen and (max-width: 530px){
    footer div{
        font-size: 3vw;
        width: 100%;
    }
}

.flex_text{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.flex_text p{
    text-align: start;
    font-weight: 500;
}

.flex_text p a{
    text-decoration: none;
    color: black;
}

.flex_text p a:hover{
    text-decoration: none;
    color:var(--blue);
}

i{
    width: 40px;
}
@media screen and (max-width: 1000px){
    i{
        width: 15%;
    }
}
/* Footer -------------------------------------------------------------------------- */